/* change to mui */
/* body {
  background-color: #6edcd9;
} */
h1 {
  text-align: center;
}
.body--container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  align-items: center;
  width: 400px;
  margin: auto;
}
.box--container {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: space-evenly;
  border: #e15fed solid 10px;
  border-radius: 20px;
  padding: 10%;
  background-color: #9254c8;
}
/* .flex--buttons {
  display: flex;
  justify-content: space-around;
} */
.button--add {
  text-align: center;
}
.buttonClass {
  margin-right: 30px;
  background-color: #332fd0;
  color: white;
  font-size: large;
}
button {
  background-color: #332fd0;
  color: white;
  font-size: large;
}
